<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<h2>Order Confirmation</h2>

<div th:if="${recentOrder != null}">
    <p>Order ID: <span th:text="${recentOrder.id}"></span></p>
    <p>Order Date: <span th:text="${recentOrder.orderDateTime}"></span></p>
    <p>Total Amount: <span th:text="${recentOrder.totalAmount}"></span></p>

    <h3>Items:</h3>
    <ul>
        <li th:each="item : ${recentOrder.orderItems}">
            <p th:text="${item.productName}"></p>
            <p>Quantity: <span th:text="${item.quantity}"></span></p>
            <p>Unit Price: <span th:text="${item.unitPrice}"></span></p>
        </li>
    </ul>
</div>
<div th:unless="${recentOrder != null}">
    <p>No recent order found.</p>
    <a th:href="@{/}">Return to Home</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>
